* {
    padding: 0;
    margin: 0;
}

.theme_dark {
    background: #000000;
}

/* header */
.content {
    margin: 96px auto 0;
    height: calc(100vh - 96px);

    display: flex;
    flex-direction: column;
    width: 700px;

    font-family: 'Inter', sans-serif;
}

.content_header {
    margin-bottom: 54px;
}

.content_addTodoForm {
    margin-bottom: 30px;
}

.content_todoList {
    margin-bottom: 96px;
}

/* header */
.header {}

.header__title {
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.header__title_theme_dark {
    color: #fff;
}

/* footer */
.footer {
    position: absolute;
    bottom: 52px;
    right: 0;
    left: 0;
}

.footer__title {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.footer__title_theme_dark {
    color: #898989;
}

/* addTodoForm */
.addTodoForm {
    display: flex;
}

.addTodoForm__field {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;

    border: none;
    border-radius: 5px;
    background-color: #fff;

    padding: 20px 22px;
    position:relative;
}

.addTodoForm__field_input {
    flex-grow: 1;
    margin-right: 10px;
}

.addTodoForm__field_input:hover {

}

.addTodoForm__field_submit {
    cursor: pointer;
    text-align: center;
}

.addTodoForm__field_submit:hover {
    color: #6F6F6F;
}

/* todoList */
.todoList {
    overflow: auto;
}

.todoList__item + .todoList__item {
    margin-top: 10px;
}

/* todo */
.todo {
    padding: 40px 45px;

    border: 1px solid #6F6F6F;
    border-radius: 5px;

    display: flex;
}

.todo:hover {
    border-color: #fff;
}

.todo__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    flex-grow: 1;
    margin-right: 10px;
}

.todo__title_theme_dark {
    color: #fff;
}

.todo__controls {

}

.todo__control + .todo__control {
    margin-left: 30px;
}

/* control */
.control {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    transition: transform ease-in 100ms;
}

.control:hover {
    opacity: .7;
    transform: scale(1.2);
}

.control_edit {
    background: url("./images/edit.svg") no-repeat;
    background-size: cover;
}

.control_duplicate {
    background: url("images/duplicate.svg") no-repeat;
    background-size: cover;
}

.control_remove {
    background: url("images/delete.svg") no-repeat;
    background-size: cover;
}
